<!DOCTYPE html>
<html>
  <head>
    <title>Facenook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Facenook">
    <meta property="og:image" content="<%= image_url("newsfeed.png") %>">
    <meta property="og:description" 
      content="Fully featured Facebook clone completed in 10 days. Created with React, Redux, Javascript, Ruby on Rails, and PostgreSQL."
    >
    <meta property="og:url" content="https://face-nook.herokuapp.com/">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('f-icon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
